<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Quoting Dojo</title>
</head>
<style>
    form{
        background-color: lightskyblue;
        width:500px;
        margin:auto;
        margin-top: 30px;
        padding:30px;
        border-radius: 25px;
    }
</style>
<body>
    <form action="/add" method="POST">
    <h2>Welcome to Quoting Dojo!</h2>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="text" placeholder="Your Quote"><br><br>
   <a href="/quotes"><button type="button" class="btn btn-dark">Go To Quotes</button></a> 
<input type="submit">    
</form>
</body>
</html>

<% if(typeof(errors) != 'undefined' ) { %>
    <span style="color: red">Something went wrong</span>
    <p><%= errors%></p>
    <% for (var x in errors) { %>
     <h3><%= errors[x].texts %></h3>
    <% } %>
<% } %>